#title, .center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

button.center{
	width: 6rem;
	height: 3rem;
	margin-top: 1rem;
}

#title{
	color:red;
	text-align: center;
}

body{
    background-color: lightgrey;
}

button {
    color: red;
    background-color: aquamarine;
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color:azure
}

button:active {
    background-color: cyan;
}

button:focus {
    background-color: cyan;
}

h1#title {
    padding: 15px;
    border-radius: 30px;
    flex-direction: center;
    background-color: aquamarine;
}

div#game {
	display: flex;
    justify-content: center;
}